.header > div {
  z-index: 0 !important;
  background-color: #00003f;
}

.title h1 {
  font-family: 'Bungee Inline';
  font-style: italic;
}

.menu { 
  margin-top: 5px;
  background-color: #00003f;
}

.icon-menu {
  display: none;
  background-color: #00003f;
}

@media (max-width: 750px) {
  .menu {
    display: none;
    background-color: #00003f;
  }

  .icon-menu {
    display: block;
    background-color: #00003f;
  }
}
.title{
  background-color: #00003f;
}
.header{
  background-color: #00003f;
}